<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plant Details</title>
  <link rel="stylesheet" href="/stylesheets/plant-details.css">
</head>

<body>
  <div class="container1">
    <div class="heading" id="update_button_heading">
      <h1>Sighting details for <%= data.identification.name %>
      </h1>
      <button class="edit-button" id="update_button" hidden
        onclick="location.href='/update-plant?id=<%= data._id %>'">Update Sighting</button>
    </div>
    <div class="details-container">
      <img src=<%=data.photo %> class="sighting-image">

      <div class="sighting-details">
        <p>Added by: <%= data.user %>
        </p>
        <p>Description: <%= data.description %>
        </p>
        <p>Date/Time Seen: <%= data.date %>
        </p>
        <p>Location: (<%= data.longitude %>, <%= data.latitude %>)
        </p>
        <h4>Plant Size</h4>
        <p>Height:<%= data.size.height %>, Spread:<%= data.size.spread %>
        </p>
        <h4>Plant Characteristics</h4>
        <p>Does the plant have flowers? <%= data.characteristics.flowers %>
        </p>
        <p>Does the plant have leaves? <%= data.characteristics.leaves %>
        </p>
        <p>Does the plant have fruits? <%= data.characteristics.fruits %>
        </p>
        <p>Does the plant have seeds? <%= data.characteristics.seeds %>
        </p>
        <p>What is the sun exposure in that area? <%= data.characteristics.sun %>
        </p>
        <h4>Status</h4>
        <p>Identification Status: <%= data.identification.status %>
        </p>
      </div>
      <p id="plant-user" hidden>
        <%= data.user%>
      </p>
    </div>

    <!-- <div class="chat-interface">
        <h2>Chat for [Plant Name]</h2>
    </div> -->
  </div>

  <div class="container2">
    <div class="chat-box">
      <div class="screen join-screen active">
        <div class="form">
          <h2>Join Chatroom</h2>
          <div class="form-input">
            <label>Username</label>
            <input type="text" id="username">
          </div>
          <div class="form-input">
            <input type="hidden" id="plant_id" value="<%= data._id %>">
          </div>
          <div class="form-input">
            <button id="join-user"><b>Join</b></button>
          </div>
        </div>
      </div>
      <div class="screen chat-screen">
        <div class="header">
          <div class="logo">Chatroom</div>
        </div>
        <div class="chat-body">
          <div class="messages" id="messages"></div>
          <% if (data.identification.status !=='Completed' ) { %>
            <form class="input_container" id="form">
              <input class="input" id="input" placeholder="Write a message..." />
              <button class="btn" type="submit">Send</button>
            </form>
            <% } else { %>
              <form class="input_container" id="form">
                <!-- The inputs here are commented out, but you can uncomment or add new inputs if needed -->
                <!-- <label class="input" >Messages Disabled</label> -->
                <label for="disabledField"></label>
                <input class="input" id="input" value="Messages diabled" disabled
                  style="background-color: #cfcfcf; color: #000000;"><br>

                <!-- <textarea class="input" id="input" placeholder="Messages Disabled..."> -->
                <!-- <button class="btn" type="submit">Send</button> -->
              </form>
              <% } %>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/chat.js" type="module"></script>
    <script src="/javascripts/idb-utility.js" type="module"></script>
    <script src="/javascripts/viewPlant.js" type="module"></script>
</body>

</html>
